*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    width: 100%;
    max-width: 2500px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9e9e9;
}
a{
    text-decoration: none;
    outline: none;
}
ul li{
    list-style: none;
}
ul{
    padding: 0px;
}

/* NAVBAR */
nav{
    width: 100%;
    height: auto;
    max-width: 3000px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
    margin: 0px;
}
.container-navbar{
    max-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #82003e;
    color: rgb(255, 255, 255);
    padding: 1rem 0rem;
    position: relative;
    font-size: 1.1rem;
}
.logo img{
    max-width: 100%;

    max-height: 140px;
}
/* .menu{
    display: flex;
    align-items: center;
}
.menu .items{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
} */
/* .items a{
    color: black;
    padding: 8px 10px 8px 10px;
    align-items: center;
    transition: 900ms;
    position: relative;
}
.items a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.items a:hover::after{
    width: 100%;
} */
.contato{
    background-image: linear-gradient(to left,#cc7e18 10%, #f1b15c 70%);
    color: rgb(0, 0, 0);
    padding: 0.9rem 4rem 0.9rem 2rem;
    border-radius: 8px;
    transition: all 900ms ease-in-out;
}
.contato:hover{
    background-image: linear-gradient(#f1b15c, #f1b15c);
    color: rgb(0, 0, 0);
}
/* .botoes .items-botoes{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
} */


/* Carrossel */
section{
    width: 100%;
    height: calc(100vh - 150px);
}
section:nth-child(1){
    min-height: calc(100vh - 150px);
}
.carousel-item{
    width: 100%;
    height: 55vh;
    max-height: 900px;
    z-index: 1;
    position: relative;
}
#img1{
    background-image: url("../img/aguia.jpeg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
}
#img2{
    background-image: url("../img/aguia.jpeg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
}
#img3{
    background-image: url("../img/aguia.jpeg");
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    object-fit: cover;
}
.carousel-item img{
    background-attachment:scroll;
    background-position: center;
    background-size:cover;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.carousel-caption{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    color: white; 
    align-items: center;
}
.carousel-caption h2{
    font-size: 3.5rem;
}
.carousel-caption p{
    font-size: 1.5rem;
}
.container-cap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* Linktree */
.links-social{
    width: 100%;
    height: auto;
    background-color: #740038;
    padding: 1.2rem 2rem;
}
.links-social h1{
    width: 100%;
    color: white;
    /* background-color: blue; */
    text-align: center;
    font-size: 1.5rem;
}
.links-social h2{
    color: white;
    text-align: center;
}
.botoes-links{
    /* background-color: aqua; */
    margin-top: 50px;
}
.botoes-links .items-botoes-links{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.btn-links{
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.btn-links i{
    pointer-events: none;
    margin-right: 20px;
    font-size: 2.5rem;
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 2rem;
}

/* FOOTER */

/* Estilo geral do footer */
#footer {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 1rem 0; /* Espaçamento vertical */
}
/* Container do footer */
#container-footer {
     padding: 1rem 0rem;
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Distribuir os elementos uniformemente */
    align-items: center; /* Centralizar verticalmente */
    max-width: 1200px; /* Limite de largura para o container */
}

/* Estilo dos elementos individuais */
#container-footer .horario, .doces{
    padding: 1rem 2rem; /* Espaçamento interno lateral */
    text-align: justify; /* Centralizar o texto */
    border-right: 1px solid #fff; /* Borda lateral direita */
}

/* Remover borda do último elemento */
#container-footer > div:last-child {
    border-right: none;
}

/* Estilo para o logo */
.logo-footer img {
    padding: 0;
    max-width: 80px; /* Largura máxima da imagem */
    height: auto; /* Proporção automática */
}

/* Estilo dos títulos */
.title-footer {
    color: rgb(201, 201, 201);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Estilo do parágrafo */
#container-footer p{
    color: #adadad;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5; /* Espaçamento entre linhas */
}
.doces{
    text-align: justify;
}
#footer-bottom{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
}
#footer-bottom p{
    color: rgb(95, 95, 95);
}
/* Estilo responsivo para telas menores */
@media (max-width: 768px) {
    #container-footer {
        flex-direction: column; /* Elementos em coluna no mobile */
    }

    #container-footer > div {
        border-right: none; /* Remover bordas laterais */
        width: 100%;
        text-align: center;
        margin-bottom: 10px; /* Espaçamento entre os itens */
    }

    #container-footer > div:last-child {
        border-bottom: none; /* Remover borda do último item */
    }
}



/* .logo-footer, .horario, .doces{
    width: 30%;
    height: 100%;
    padding: 2rem 0;
    background-color: #cc7e18;
} */








/* Menu mobile */
/* .mobile-menu-icon{
    display: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.4s ease-in-out;
}
.mobile-menu {
    width: 100%; 
    z-index: 10; 
    opacity: 0;
    max-height: 0;
    transition: 0.5s ease-in-out;
    overflow: hidden;
} */
@media screen and (max-width: 760px){
    /* .container-navbar{
        padding: 1.5rem 0rem;
    }
    .menu{
        display: none;
    }
    .botoes{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu.active{
        max-height: 500px;
        opacity: 1;
        background-color: #dddddd;
        border-top: 1px solid black;
        margin-bottom: 0px;
        transition: 0.5s ease-in-out;
    }
    .mobile-menu-icon.active .bar:nth-child(2){
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
    .mobile-menu-icon.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: all 0.4s ease-in-out;
    }
    .mobile-menu-icon.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: all 0.4s ease-in-out;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 10px;
    }
    .mobile-menu .navbar-items{
        font-size: 1.2rem;
    }
    .mobile-menu .items-botoes .btn{
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 10px;
    } */
    .contato{
        padding: 0.9rem 10rem 0.9rem 2rem;
    }
}